@model dotnetsource.Models.BreadCrumbModel
@{
	Layout = null;
}
<ul class="breadcrumb">
	<li><a href="@Model.FirstUrl">@Model.FirstUrlName</a></li>
	<li><a href="@Model.SecondUrl">@Model.SecondUrlName</a></li>
	<li class="active"><a href="@Model.ThirdUrl">@Model.ThirdUrlName</li>
	<li class="pull-right"><a href="#" data-dismiss='breadcrumb'><i class="fa fa-remove"></i></a></li>
</ul>
