@model dotnetsource.Models.BreadCrumbModel
@{
	Layout = null;
}
<ul class="breadcrumb">
	<li><i class="fa fa-home"></i><a href="@Model.FirstUrl">@Model.FirstUrlName</a><i class="fa fa-angle-right"></i></li>
	<li><a href="@Model.SecondUrl">@Model.SecondUrlName</a>@if (string.IsNullOrEmpty(Model.ThirdUrlName) == false && string.IsNullOrEmpty(Model.ThirdUrl) == false) {<i class="fa fa-angle-right"></i>}</li>
	@if (string.IsNullOrEmpty(Model.ThirdUrlName) == false && string.IsNullOrEmpty(Model.ThirdUrl) == false) {
		<li class="active"><a href="@Model.ThirdUrl">@Model.ThirdUrlName</a></li>
 }
	<li class="pull-right"><a href="#" class="close" data-dismiss='breadcrumb'>&times</a></li>
</ul>
