<!-- navbar-collapse -->
<div class="hor-menu navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @{
            var topMenus = dotnetsource.Helpers.Common.Menus.Where(q => q.TopMenuID == 0 
                && q.MenuName != "Charts" 
                && q.MenuName != "Tables"
                && q.MenuName != "Forms"
                && q.MenuName != "Pages"
                ).ToList();
        }
        @foreach (dotnetsource.Helpers.Menu menu in topMenus)
        {
            int viewBagTopMenuID = (int)ViewBag.TopMenu;
            int viewBagSubMenuID = (int)ViewBag.Submenu;
            int menuID = menu.MenuID;
            var subMenus = dotnetsource.Helpers.Common.Menus.Where(q => q.TopMenuID == menuID).ToList();
            <li class="@((subMenus.Count() > 0 ? "dropdown " : ""))@((viewBagTopMenuID == menuID) ? "active" : "")">
                @if (subMenus.Count() > 0)
                {
                    <a data-toggle="dropdown" data-close-others="true" data-hover="dropdown" class="dropdown-toggle" href="@(string.IsNullOrEmpty(menu.MenuURL) ? "javascript:;" : menu.MenuURL)">
                        @menu.MenuName
                    </a>
                }
                else
                {
                    <a href="@(string.IsNullOrEmpty(menu.MenuURL) ? "javascript:;" : menu.MenuURL)">
                        @menu.MenuName
                    </a>
                }
                @Html.Partial("_RenderHorizontalSubMenu", new dotnetsource.Helpers.RenderSubMenu { MenuID = menu.MenuID, SubMenus = subMenus })
            </li>
        }
    </ul>
</div>
<!-- end navbar-collapse -->
