@Html.Partial("_Head")
@Html.Partial("_Styles")
@RenderSection("styles", required: false)
</head>
@{
	var className = "";
	dotnetsource.Helpers.SubMenu subMenuEnum = ViewBag.Submenu;
	switch (subMenuEnum) {
		case dotnetsource.Helpers.SubMenu.SignIn:
			className = "bg-primary";
			break;
		case dotnetsource.Helpers.SubMenu.SignUp:
			className = "bg-dark-blue";
			break;
		case dotnetsource.Helpers.SubMenu.Page404:
			className = "bg-info";
			break;
		case dotnetsource.Helpers.SubMenu.Page500:
			className = "bg-cardovan";
			break;
		default:
			className = "bg-black";
			break;
	}
}
<body class="@className">
	@RenderBody()
	<!-- jquery -->
	<script src='/js/jquery/jquery-1.11.1.min.js' type='text/javascript'></script>
	<!-- bootstrap -->
	<script src="/js/bootstrap/bootstrap.min.js" type='text/javascript'></script>
	<!-- jquery validation -->
	<script src="/js/jquery/jquery.validate.min.js" type='text/javascript'></script>
	<!-- application -->
	<script src="/js/files/application.js" type="text/javascript"></script>
	@RenderSection("scripts", required: false)
</body>
</html> 