@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "C3 Chart" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/", FirstUrlName = "Home",
		SecondUrl = "/Home/Modal", SecondUrlName = "Plugins",
		ThirdUrl = "/Home/C3Chart", ThirdUrlName = "C3 Chart"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
	<link href="/css/plugins/c3/c3.css" rel="stylesheet" />
}
@section scripts {
	<script src="/js/plugins/c3/d3.v3.min.js" type="text/javascript"></script>
	<script src="/js/plugins/c3/c3.min.js" type="text/javascript"></script>
	<script src="/js/pages/c3chart.js" type="text/javascript"></script>
}
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Line Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-line-chart">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					Spline Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-spline-chart">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Step Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-step-chart">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">
					Area Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-area-chart">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					Stacked Area Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-stacked-area-chart">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-purple">
			<div class="panel-heading">
				<h3 class="panel-title">
					Bar Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-bar-chart">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-cardovan">
			<div class="panel-heading">
				<h3 class="panel-title">
					Stacked Bar Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-stacked-bar-chart">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-teal">
			<div class="panel-heading">
				<h3 class="panel-title">
					Scatter Plot Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-scatter-plot-chart">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-pink">
			<div class="panel-heading">
				<h3 class="panel-title">
					Pie Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-pie-chart">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-dark-blue">
			<div class="panel-heading">
				<h3 class="panel-title">
					Donut Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-donut-chart">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-blue">
			<div class="panel-heading">
				<h3 class="panel-title">
					Gauge Chart
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div id="c3-gauge-chart">
				</div>
			</div>
		</div>
	</div> 
</div>