@{
    var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Alerts" };
    var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel
    {
        FirstUrl = "/",
        FirstUrlName = "Home",
        SecondUrl = "/Home/General",
        SecondUrlName = "UI Features",
        ThirdUrl = "/Home/Alerts",
        ThirdUrlName = "Alerts"
    };
    ViewBag.Title = _PageHeaderModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
    <!-- inputlimiter -->
    <link href="/css/plugins/jquery-inputlimiter/jquery.inputlimiter.1.0.css" rel="stylesheet" type="text/css" />
}
@section scripts {
    <!-- inputlimiter -->
    <script src="/js/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js" type="text/javascript"></script>
    <!-- autogrow textarea -->
    <script src="/js/plugins/autogrowtextarea/jquery.autogrowtextarea.min.js" type="text/javascript"></script>
    <script>
        $(function () {
            // Make it more personal
            $('#textareaCC').inputlimiter({
                limit: 50,
                remText: 'You only have %n character%s remaining...',
                remFullText: 'Stop typing! You\'re not allowed any more characters!',
                limitText: 'You\'re allowed to input %n character%s into this field.'
            });
            // auto grow text area
            $('#textareaAR').autoGrow();
        });
    </script>
}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading panel-title">
                                <h3 class="panel-title">
                                    Supported controls
                                </h3>@Html.Partial("_PanelCloseTools")
                            </div>
                            <div class="panel-body">
                                <span class="help-text">Most common form control, text-based input fields. Includes support for all HTML5 types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.</span>
                                <pre><code class="html">.form-control</code></pre>
                                <input type="text" class="form-control" placeholder="Text input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading panel-title">
                                <h3 class="panel-title">
                                    Checkboxes and Radios
                                </h3>@Html.Partial("_PanelCloseTools")
                            </div>
                            <div class="panel-body">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="" />
                                        Option one is this and that&mdash;be sure to include why it's great
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked />
                                        Option one is this and that&mdash;be sure to include why it's great
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />
                                        Option two can be something else and selecting it will deselect option one
                                    </label>
                                </div>
                                <h3 class="panel-title">
                                    Inline checkboxes
                                </h3>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1" />
                                    1
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option2" />
                                    2
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" value="option3" />
                                    3
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-purple">
                            <div class="panel-heading panel-title">
                                <h3 class="panel-title">
                                    Control sizing
                                </h3>@Html.Partial("_PanelCloseTools")
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <input class="form-control input-lg" type="text" placeholder="Input Large" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Default Input" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control input-sm" type="text" placeholder="Input Small" />
                                </div>
                                <div class="form-group">
                                    <select class="form-control input-lg">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control input-sm">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-cardovan">
                            <div class="panel-heading panel-title">
                                <h3 class="panel-title">
                                    Column sizing
                                </h3>@Html.Partial("_PanelCloseTools")
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2 col-md-2">
                                        <input type="text" class="form-control" placeholder=".col-xs-2 .col-sm-2 .col-md-2 .col-md-2" />
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-md-3">
                                        <input type="text" class="form-control" placeholder=".col-xs-3 .col-sm-3 .col-md-3 .col-md-3" />
                                    </div>
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-md-4">
                                        <input type="text" class="form-control" placeholder=".col-xs-4 .col-sm-4 .col-md-4 .col-md-4" />
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-md-3">
                                        <input type="text" class="form-control" placeholder=".col-xs-3 .col-sm-3 .col-md-3 .col-md-4" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-teal">
                            <div class="panel-heading panel-title">
                                <h3 class="panel-title">
                                    Help text
                                </h3>@Html.Partial("_PanelCloseTools")
                            </div>
                            <div class="panel-body">
                                <input type="text" class="form-control" />
                                <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-pink">
                            <div class="panel-heading panel-title">
                                <h3 class="panel-title">
                                    Textarea
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form method="post" class="form-horizontal form-striped">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label font-normal">
                                            Textarea
                                        </label>
                                        <div class="col-md-9">
                                            <textarea rows="5" cols="80" class="form-control col-xs-2"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            Textarea with Auto Resize
                                        </label>
                                        <div class="col-md-9">
                                            <textarea rows="5" cols="80" id="textareaAR" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">
                                            Textarea with Character Count
                                        </label>
                                        <div class="col-md-9">
                                            <textarea id="textareaCC" rows="5" cols="80" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

