@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Icons" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/Icons", ThirdUrlName = "Icons"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
	<link href="/css/pages/fonts.css" rel="stylesheet" type="text/css" />
}
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tab-custom">
	<li class="active"><a href="#icon1" data-toggle="tab"><span>Font Awesome</span></a></li>
	<li><a href="#icon2" data-toggle="tab"><span>Glyphicons</span></a></li>
	<li><a href="#icon3" data-toggle="tab"><span>Entypo Icons</span></a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content padding-top-10">
	<div class="tab-pane active" id="icon1">
		<div class="row">
			<div class="col-md-12">
				@Html.Partial("_FontAweSome")
			</div>
		</div>
	</div>
	<div class="tab-pane" id="icon2">
		<div class="row">
			<div class="col-md-12">
				@Html.Partial("_Glyphicons")
			</div>
		</div>
	</div>
	<div class="tab-pane" id="icon3">
		<div class="row">
			<div class="col-md-12">
				@Html.Partial("_Entypoicons")
			</div>
		</div>
	</div>
</div>
