@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Table" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/", FirstUrlName = "Home",
		SecondUrl = "/Home/Table", SecondUrlName = "Tables",
		ThirdUrl = "/Home/Table", ThirdUrlName = "Table"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Default Style</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Striped</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Hover</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Condensed</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Bordered</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Info</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-info table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Danger</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-danger table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Primary</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-primary table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Success</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-success table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-white">
			<div class="panel-heading">
				<h3 class="panel-title">
					Table Warning</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<table class="table table-warning table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								First Name
							</th>
							<th>
								Last Name
							</th>
							<th>
								Username
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								1
							</td>
							<td>
								Mark
							</td>
							<td>
								Otto
							</td>
							<td>
								mdo
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								Jacob
							</td>
							<td>
								Thornton
							</td>
							<td>
								fat
							</td>
						</tr>
						<tr>
							<td>
								3
							</td>
							<td>
								Larry
							</td>
							<td>
								the Bird
							</td>
							<td>
								twitter
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
