@{
    var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Form Layouts" };
    var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel
    {
        FirstUrl = "/Home/Index",
        FirstUrlName = "Home",
        SecondUrl = "/Home/FormControls",
        SecondUrlName = "Forms",
        ThirdUrl = "/Home/FormLayouts",
        ThirdUrlName = "Form Layouts"
    };
    ViewBag.Title = _PageHeaderModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
}
@section scripts {
}
<div class="tab-fancy">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#form1" data-toggle="tab">Form Validation</a></li>
        <li><a href="#form2" data-toggle="tab">Validation States</a></li>
        <li><a href="#form3" data-toggle="tab">Validation States With Icons</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content padding-top-10">
        <!-- Row Separated tab -->
        <div class="tab-pane active" id="form1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Form Validation
                    </h3>@Html.Partial("_PanelCloseTools")
                </div>
                <div class="panel-body">
                    <h4>jQuery Validation Plugin</h4>
                    <p>This jQuery plugin makes simple clientside form validation easy, whilst still offering plenty of customization options. It makes a good choice if you’re building something new from scratch, but also when you’re trying to integrate something into an existing application with lots of existing markup. The plugin comes bundled with a useful set of validation methods, including URL and email validation, while providing an API to write your own methods. All bundled methods come with default error messages in english and translations into 37 other languages.</p>
                    <p>Read more about it on <a href="http://jqueryvalidation.org/" target="_blank">jQuery Validation Plugin website</a>.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="form2">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Validation States
                    </h3>@Html.Partial("_PanelCloseTools")
                </div>
                <div class="panel-body">
                    <h4>Validation States</h4>
                    <p>Bootstrap includes validation styles for error, warning, and success states on form controls. To use, add <code>.has-warning</code>, <code>.has-error</code>, or <code>.has-success</code> to the parent element. Any <code>.control-label</code>, <code>.form-control</code>, and <code>.help-block</code> within that element will receive the validation styles.</p>
                    <p>Read more about it on <a href="http://getbootstrap.com/css/#forms-control-validation" target="_blank">Bootstrap Validation States website</a>.</p>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="form3">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Validation States With Icons
                    </h3>@Html.Partial("_PanelCloseTools")
                </div>
                <div class="panel-body">
                    <h4>Validation States With Icon</h4>
                    <pre><code>&lt;form action="#" method="POST"&gt;
    &lt;div class="form-group"&gt;
        &lt;label class="control-label" for="inputSuccess"&gt;
            Default input
        &lt;/label&gt;
        &lt;div class="input-icon right"&gt;
            &lt;i class="fa fa-info-circle tooltips" data-original-title="Email address" data-container="body"&gt;&lt;/i&gt;
            &lt;input type="text" class="form-control" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group has-success"&gt;
        &lt;label class="control-label" for="inputSuccess"&gt;
            Input with success
        &lt;/label&gt;
        &lt;div class="input-icon right"&gt;
            &lt;i class="fa fa-check tooltips" data-original-title="You look OK!" data-container="body"&gt;&lt;/i&gt;
            &lt;input type="text" class="form-control" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group has-warning"&gt;
        &lt;label class="control-label" for="inputWarning"&gt;
            Input with warning
        &lt;/label&gt;
        &lt;div class="input-icon right"&gt;
            &lt;i class="fa fa-warning tooltips" data-original-title="please provide an email" data-container="body"&gt;&lt;/i&gt;
            &lt;input type="text" class="form-control" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="form-group has-error"&gt;
        &lt;label class="control-label" for="inputError"&gt;
            Input with error
        &lt;/label&gt;
        &lt;div class="input-icon right"&gt;
            &lt;i class="fa fa-exclamation tooltips" data-original-title="please write a valid email" data-container="body"&gt;&lt;/i&gt;
            &lt;input type="text" class="form-control" /&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>    
                </div>
            </div>
        </div>
    </div>
</div>
