@{
    var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Form Controls" };
    var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel
    {
        FirstUrl = "/Home/Index",
        FirstUrlName = "Home",
        SecondUrl = "/Home/FormControls",
        SecondUrlName = "Forms",
        ThirdUrl = "/Home/FormControls",
        ThirdUrlName = "Form Controls"
    };
    ViewBag.Title = _PageHeaderModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="tab-fancy">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#form1" data-toggle="tab">Default Form</a></li>
        <li><a href="#form2" data-toggle="tab">Form Input Height Sizing</a></li>
        <li><a href="#form3" data-toggle="tab">Form Input Width Sizing</a></li>
        <li><a href="#form4" data-toggle="tab">Horizontal Form</a></li>
        <li><a href="#form5" data-toggle="tab">Fluid Input Groups</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content padding-top-10">
        <div class="tab-pane active" id="form1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Default Form
                    </h3>@Html.Partial("_PanelCloseTools")
                </div>
                <div class="panel-body">
                    <h4>Default Form Input</h4>
                    <div class="notes notes-primary">
                        <p>Bootstrap styles input by default, so there is no need to add any classes to inputs. Just use them. Don't forget to include input type.</p>
                        <p>Bootstrap has a great <a href="http://getbootstrap.com/css/#forms">documentation about forms</a>.</p>
                        <p>@dotnetsource.Helpers.Common.SiteName introduces new icon input textbox.</p>
                    </div>
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label>
                                Left Icon
                            </label>
                            <div class="input-icon">
                                <i class="fa fa-bell-o"></i>
                                <input type="text" class="form-control" placeholder="Left icon" />
                            </div><br />
                            <pre><code>&lt;div class="input-icon"&gt;
    &lt;i class="fa fa-bell-o"&gt;&lt;/i&gt;
    &lt;input type="text" class="form-control" placeholder="Left icon" /&gt;
&lt;/div&gt;</code></pre>
                        </div>
                        <div class="form-group">
                            <label>
                                Right Icon
                            </label>
                            <div class="input-icon right">
                                <i class="fa fa-microphone"></i>
                                <input type="text" class="form-control" placeholder="Right icon" />
                            </div><br />
                            <pre><code>&lt;div class="input-icon right"&gt;
    &lt;i class="fa fa-microphone"&gt;&lt;/i&gt;
    &lt;input type="text" class="form-control" placeholder="Right icon" /&gt;
&lt;/div&gt;</code></pre>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="form2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Form Input Height Sizing
                    </h3>@Html.Partial("_PanelCloseTools")
                </div>
                <div class="panel-body">
                    <h4>Form Input Height Sizing</h4>
                    <div class="notes notes-primary">
                        <p>Set heights using classes like <code>.input-lg</code>, and set widths using grid column classes like <code>.col-lg-*</code>. Read more about it on <a href="http://getbootstrap.com/css/#forms-control-sizes">bootstrap control sizing website</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="form3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Form Input Width Sizing
                    </h3>@Html.Partial("_PanelCloseTools")
                </div>
                <div class="panel-body">
                    <h4>Form Input Width Sizing</h4>
                    <div class="notes notes-primary">
                        <p>@dotnetsource.Helpers.Common.SiteName introduces new input width sizing.</p>
                    </div>
                    <form class="form-horizontal" action="#" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    Fluid Input
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="fluid">
                            </div>
                        </div><br />
                        <pre><code>&lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
        &lt;input type="text" class="form-control" placeholder="fluid"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    Extra Large Input
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control input-xlarge" placeholder=".input-xlarge">
                            </div>
                        </div><br />
                        <pre><code>&lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
        &lt;input type="text" class="form-control input-xlarge" placeholder=".input-xlarge"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    Large Input
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control input-large" placeholder=".input-xlarge">
                            </div>
                        </div><br />
                        <pre><code>&lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
        &lt;input type="text" class="form-control input-large" placeholder=".input-xlarge"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    Medium Input
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control input-medium" placeholder=".input-medium">
                            </div>
                        </div><br />
<pre><code>&lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
        &lt;input type="text" class="form-control input-medium" placeholder=".input-xlarge"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    Small Input
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control input-small" placeholder=".input-small">
                            </div>
                        </div><br />
<pre><code>&lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
        &lt;input type="text" class="form-control input-small" placeholder=".input-xlarge"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    Mini Input
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control input-mini" placeholder=".input-mini">
                            </div>
                        </div><br />
<pre><code>&lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
        &lt;input type="text" class="form-control input-mini" placeholder=".input-xlarge"&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="form4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Horizontal Form
                    </h3>@Html.Partial("_PanelCloseTools")
                </div>
                <div class="panel-body ">
                    <h4>Horizontal Form</h4>
                    <div class="notes notes-primary">
                        <p>Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding <code>.form-horizontal</code> to the form. Doing so changes <code>.form-group</code>s to behave as grid rows, so no need for <code>.row</code>. Read more about it on <a href="http://getbootstrap.com/css/#forms-horizontal">bootstrap horizontal form website</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="form5">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Fluid Input Groups
                    </h3>@Html.Partial("_PanelCloseTools")
                </div>
                <div class="panel-body">
                    <h4>Input Groups</h4>
                    <p>Extend form controls by adding text or buttons before, after, or on both sides of any text-based input. Use <code>.input-group</code> with an <code>.input-group-addon</code> to prepend or append elements to a single <code>.form-control</code>.</p>
                    <p>Read more about it on <a href="http://getbootstrap.com/components/#input-groups">bootstrap input groups form website</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>