@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "General" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index",
		FirstUrlName = "Home",
		SecondUrl = "/Home/General",
		SecondUrlName = "UI Features",
		ThirdUrl = "/Home/General",
		ThirdUrlName = "General"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
@section styles {
	<!-- inputlimiter -->
	<link href="/css/plugins/jquery-inputlimiter/jquery.inputlimiter.1.0.css" rel="stylesheet" type="text/css" />
}
@section scripts {
	<script src="/js/pages/holder.js" type="text/javascript"></script>
	<!-- inputlimiter -->
	<script src="/js/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js" type="text/javascript"></script>
	<!-- autogrow textarea -->
	<script src="/js/plugins/autogrowtextarea/jquery.autogrowtextarea.min.js" type="text/javascript"></script>
	<script>
		$(function() {
			// Make it more personal
			$('#textareaCC').inputlimiter({
				limit: 50,
				remText: 'You only have %n character%s remaining...',
				remFullText: 'Stop typing! You\'re not allowed any more characters!',
				limitText: 'You\'re allowed to input %n character%s into this field.'
			});
			// auto grow text area
			$('#textareaAR').autoGrow();
		});
	</script>
}
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Alerts
				</h3>
				@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<p>
					Alert are based on <a href="http://getbootstrap.com/components/#alerts" target="_blank">bootstrap alert</a></p>
			</div>
		</div>
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					Notes
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<p>@dotnetsource.Helpers.Common.SiteName introduces <code>.notes</code> with different colors. Used to summary messages</p>
				<div class="notes notes-default">
					<h4>
						Default
					</h4>
					<p>
						Content...
					</p>
				</div>
				<pre><code>&lt;div class="notes notes-default"&gt;<br/> &lt;h4&gt; Default &lt;/h4&gt; <br/>&lt;p&gt; Content... &lt;/p&gt; <br/>&lt;/div&gt; </code></pre>
				<div class="notes notes-primary">
					<h4>
						Primary
					</h4>
					<p>
						Content...
					</p>
				</div>
				<pre><code>&lt;div class="notes notes-primary"&gt;<br/> &lt;h4&gt; Primary &lt;/h4&gt; <br/>&lt;p&gt; Content... &lt;/p&gt; <br/>&lt;/div&gt; </code></pre>
				<div class="notes notes-success">
					<h4>
						Success
					</h4>
					<p>
						Content...
					</p>
				</div>
				<pre><code>&lt;div class="notes notes-success"&gt;<br/> &lt;h4&gt; Success &lt;/h4&gt; <br/>&lt;p&gt; Content... &lt;/p&gt; <br/>&lt;/div&gt; </code></pre>
				<div class="notes notes-danger">
					<h4>
						Danger
					</h4>
					<p>
						Content...
					</p>
				</div>
				<pre><code>&lt;div class="notes notes-danger"&gt;<br/> &lt;h4&gt; Danger &lt;/h4&gt; <br/>&lt;p&gt; Content... &lt;/p&gt; <br/>&lt;/div&gt; </code></pre>
				<div class="notes notes-warning">
					<h4>
						Warning
					</h4>
					<p>
						Content...
					</p>
				</div>
				<pre><code>&lt;div class="notes notes-warning"&gt;<br/> &lt;h4&gt; Warning &lt;/h4&gt; <br/>&lt;p&gt; Content... &lt;/p&gt; <br/>&lt;/div&gt; </code></pre>
				<div class="notes notes-info">
					<h4>
						Info
					</h4>
					<p>
						Content...
					</p>
				</div>
				<pre><code>&lt;div class="notes notes-info"&gt;<br/> &lt;h4&gt; Info &lt;/h4&gt; <br/>&lt;p&gt; Content... &lt;/p&gt; <br/>&lt;/div&gt; </code></pre>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					Tooltips
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<p>
					Tooltip are based on <a href="http://getbootstrap.com/javascript/#tooltips" target="_blank">bootstrap tooltip</a></p>
			</div>
		</div>
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3 class="panel-title">
					Popovers
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<p>
					Popovers are based on <a href="http://getbootstrap.com/javascript/#popovers" target="_blank">bootstrap popovers</a></p>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					List Group</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<p>
					List Group are based on <a href="http://getbootstrap.com/components/#list-group" target="_blank">bootstrap list group</a></p>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Pagination</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<p>
					Pagination are based on <a href="http://getbootstrap.com/components/#pagination" target="_blank">bootstrap pagination</a></p>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Media object</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<p>
					Media object are based on <a href="http://getbootstrap.com/components/#media" target="_blank">bootstrap media object</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-warning">
			<div class="panel-heading panel-title">
				<h3 class="panel-title">
					Supported controls
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<span class="help-text">Most common form control, text-based input fields. Includes support for all HTML5 types: text, password, datetime, datetime-local, date, month, time, week, number, email, url, search, tel, and color.</span>
				<pre><code class="html">.form-control</code></pre>
				<input type="text" class="form-control" placeholder="Text input" />
			</div>
		</div>
		<div class="panel panel-danger">
			<div class="panel-heading panel-title">
				<h3 class="panel-title">
					Checkboxes and Radios
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div class="checkbox">
					<label>
						<input type="checkbox" value="" />
						Option one is this and that&mdash;be sure to include why it's great
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked />
						Option one is this and that&mdash;be sure to include why it's great
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />
						Option two can be something else and selecting it will deselect option one
					</label>
				</div>
				<h3 class="panel-title">
					Inline checkboxes
				</h3>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox1" value="option1" />
					1
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox2" value="option2" />
					2
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" id="inlineCheckbox3" value="option3" />
					3
				</label>
			</div>
		</div>
		<div class="panel panel-purple">
			<div class="panel-heading panel-title">
				<h3 class="panel-title">
					Control sizing
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div class="form-group">
					<input class="form-control input-lg" type="text" placeholder="Input Large" />
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Default Input" />
				</div>
				<div class="form-group">
					<input class="form-control input-sm" type="text" placeholder="Input Small" />
				</div>
				<div class="form-group">
					<select class="form-control input-lg">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control input-sm">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
				</div>
			</div>
		</div>
		<div class="panel panel-cardovan">
			<div class="panel-heading panel-title">
				<h3 class="panel-title">
					Column sizing
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-2 col-sm-2 col-md-2 col-md-2">
						<input type="text" class="form-control" placeholder=".col-xs-2 .col-sm-2 .col-md-2 .col-md-2" />
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-md-3">
						<input type="text" class="form-control" placeholder=".col-xs-3 .col-sm-3 .col-md-3 .col-md-3" />
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 col-md-4">
						<input type="text" class="form-control" placeholder=".col-xs-4 .col-sm-4 .col-md-4 .col-md-4" />
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-md-3">
						<input type="text" class="form-control" placeholder=".col-xs-3 .col-sm-3 .col-md-3 .col-md-4" />
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-teal">
			<div class="panel-heading panel-title">
				<h3 class="panel-title">
					Help text
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<input type="text" class="form-control" />
				<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
			</div>
		</div>
		<div class="panel panel-pink">
			<div class="panel-heading panel-title">
				<h3 class="panel-title">
					Textarea
				</h3>
			</div>
			<div class="panel-body">
				<form method="post" class="form-horizontal form-striped">
				<div class="form-group">
					<label class="col-md-3 control-label font-normal">
						Textarea
					</label>
					<div class="col-md-9">
						<textarea rows="5" cols="80" class="form-control col-xs-2"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">
						Textarea with Auto Resize
					</label>
					<div class="col-md-9">
						<textarea rows="5" cols="80" id="textareaAR" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">
						Textarea with Character Count
					</label>
					<div class="col-md-9">
						<textarea id="textareaCC" rows="5" cols="80" class="form-control"></textarea>
					</div>
				</div>
				</form>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Dropdowns
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div class="btn-group">
					<button class="btn btn-default" type="button" data-toggle="dropdown">
						Dropdown <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title">
					Dropdown Alignment
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div class="btn-group">
					<button class="btn btn-default" type="button" data-toggle="dropdown">
						Dropdown Menu Left <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button class="btn btn-default" type="button" data-toggle="dropdown">
						Dropdown Menu Right <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
						<li role="presentation" class="divider"></li>
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3 class="panel-title">
					Sub menus on dropdown
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<div class="pull-left margin-right-10">
					<p class="muted">
						Default
					</p>
					<div class="dropdown clearfix">
						<ul aria-labelledby="dropdownMenu" style="display: block; position: static" role="menu" class="dropdown-menu">
							<li><a href="#" tabindex="-1">Action</a> </li>
							<li><a href="#" tabindex="-1">Another action</a> </li>
							<li><a href="#" tabindex="-1">Something else here</a> </li>
							<li class="divider"></li>
							<li class="dropdown-submenu"><a href="#" tabindex="-1">More options</a>
								<ul class="dropdown-menu">
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="pull-left margin-right-10">
					<p class="muted">
						Dropup
					</p>
					<div class="dropup">
						<ul aria-labelledby="dropdownMenu" style="display: block; position: static" role="menu" class="dropdown-menu">
							<li><a href="#" tabindex="-1">Action</a> </li>
							<li><a href="#" tabindex="-1">Another action</a> </li>
							<li><a href="#" tabindex="-1">Something else here</a> </li>
							<li class="divider"></li>
							<li class="dropdown-submenu"><a href="#" tabindex="-1">More options</a>
								<ul class="dropdown-menu">
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="pull-left margin-right-10">
					<p class="muted">
						Left submenu
					</p>
					<div class="dropdown">
						<ul aria-labelledby="dropdownMenu" style="display: block; position: static" role="menu" class="dropdown-menu">
							<li><a href="#" tabindex="-1">Action</a> </li>
							<li><a href="#" tabindex="-1">Another action</a> </li>
							<li><a href="#" tabindex="-1">Something else here</a> </li>
							<li class="divider"></li>
							<li class="dropdown-submenu"><a href="#" tabindex="-1">More options</a>
								<ul class="dropdown-menu">
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
									<li><a href="#" tabindex="-1">Second level link</a> </li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-dark-blue">
			<div class="panel-heading">
				<h3 class="panel-title">
					Badges
				</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Available variations
				</h4>
				<span class="badge margin-right-10">42</span><span class="badge badge-primary margin-right-10">42</span><span class="badge badge-success margin-right-10">42</span> <span class="badge badge-info margin-right-10">42</span> <span class="badge badge-warning margin-right-10">42</span> <span class="badge badge-danger">42</span>
				<div class="clearfix">
					&nbsp;</div>
				<a href="#">Inbox <span class="badge">42</span></a>
				<h4>
					Adapts to active nav states
				</h4>
				<ul class="nav nav-pills">
					<li class="active"><a href="#">Home <span class="badge">42</span></a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Messages <span class="badge">3</span></a></li>
				</ul>
				<br />
				<ul style="max-width: 260px;" class="nav nav-pills nav-stacked">
					<li class="active"><a href="#"><span class="badge pull-right">42</span> Home </a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#"><span class="badge pull-right">3</span> Messages </a></li>
				</ul>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Progress bars</h3>@Html.Partial("_PanelCloseTools")
			</div>
			
			<div class="panel-body">
				<h3>
					Basic
				</h3>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
				<h3>
					Medium
				</h3>
				<div class="progress progress-md">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
				<h3>
					Small
				</h3>
				<div class="progress progress-sm">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
				<h3>
					Extra Small
				</h3>
				<div class="progress progress-xs">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
				<h3>
					With Label
				</h3>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						60%
					</div>
				</div>
				<h3>
					Contextual alternatives
				</h3>
				<div class="progress">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
						<span class="sr-only">40% Complete (success)</span>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
						<span class="sr-only">20% Complete</span>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
						<span class="sr-only">60% Complete (warning)</span>
					</div>
				</div>
				<div class="progress">
					<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
						<span class="sr-only">80% Complete</span>
					</div>
				</div>
				<h3>
					Striped
				</h3>
				<div class="progress progress-striped">
					<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
						<span class="sr-only">40% Complete (success)</span>
					</div>
				</div>
				<div class="progress progress-striped">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
						<span class="sr-only">20% Complete</span>
					</div>
				</div>
				<div class="progress progress-striped">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
						<span class="sr-only">60% Complete (warning)</span>
					</div>
				</div>
				<div class="progress progress-striped">
					<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
						<span class="sr-only">80% Complete (danger)</span>
					</div>
				</div>
				<h3>
					Animated
				</h3>
				<div class="progress progress-striped active">
					<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
						<span class="sr-only">45% Complete</span>
					</div>
				</div>
				<h3>
					Stacked
				</h3>
				<div class="progress">
					<div class="progress-bar progress-bar-success" style="width: 35%">
						<span class="sr-only">35% Complete (success)</span>
					</div>
					<div class="progress-bar progress-bar-warning" style="width: 20%">
						<span class="sr-only">20% Complete (warning)</span>
					</div>
					<div class="progress-bar progress-bar-danger" style="width: 10%">
						<span class="sr-only">10% Complete (danger)</span>
					</div>
				</div>
			</div>
			
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Responsive embed</h3>@Html.Partial("_PanelCloseTools")
			</div>
			
			<div class="panel-body">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe allowfullscreen="" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" class="embed-responsive-item"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Thumbnails</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
				<h4>
					Default example</h4>
				<div class="row">
					<div class="col-xs-6 col-md-3">
						<a class="thumbnail" href="#">
							<img alt="100%x180" data-src="holder.js/100%x180" />
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a class="thumbnail" href="#">
							<img alt="100%x180" data-src="holder.js/100%x180" />
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a class="thumbnail" href="#">
							<img alt="100%x180" data-src="holder.js/100%x180" />
						</a>
					</div>
					<div class="col-xs-6 col-md-3">
						<a class="thumbnail" href="#">
							<img alt="100%x180" data-src="holder.js/100%x180" />
						</a>
					</div>
				</div>
				<h4>
					Custom content</h4>
				<div class="row">
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img alt="100%x200" data-src="holder.js/100%x200" />
							<div class="caption">
								<h3>
									Thumbnail label</h3>
								<p>
									Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p>
									<a role="button" class="btn btn-primary" href="#">Button</a> <a role="button" class="btn btn-default" href="#">Button</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img alt="100%x200" data-src="holder.js/100%x200" />
							<div class="caption">
								<h3>
									Thumbnail label</h3>
								<p>
									Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p>
									<a role="button" class="btn btn-primary" href="#">Button</a> <a role="button" class="btn btn-default" href="#">Button</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="thumbnail">
							<img alt="100%x200" data-src="holder.js/100%x200" />
							<div class="caption">
								<h3>
									Thumbnail label</h3>
								<p>
									Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
								<p>
									<a role="button" class="btn btn-primary" href="#">Button</a> <a role="button" class="btn btn-default" href="#">Button</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
