@{
	var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Tabs" };
	var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel {
		FirstUrl = "/Home/Index", FirstUrlName = "Home",
		SecondUrl = "/Home/General", SecondUrlName = "UI Features",
		ThirdUrl = "/Home/Tabs", ThirdUrlName = "Tabs"
	};
	ViewBag.Title = _PageHeaderModel.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-dark-blue">
            <div class="panel-heading">
                <h3 class="panel-title">Tabs</h3>@Html.Partial("_PanelCloseTools")
            </div>
            <div class="panel-body">
                <p>
                    Tabs are based on <a href="http://getbootstrap.com/javascript/#tabs" target="_blank">bootstrap tabs</a>
                </p>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Tab Fancy</h3>@Html.Partial("_PanelCloseTools")
            </div>
            <div class="panel-body">
                <p>@dotnetsource.Helpers.Common.SiteName introduces <code>.tab-fancy</code></p>
                <pre><code>&lt;div class="tab-fancy"&gt;
    &lt;!-- Nav tabs --&gt;
    &lt;ul class="nav nav-tabs"&gt;
        &lt;li class="active"&gt;&lt;a data-toggle="tab" href="#home1"&gt;Home&lt;/a&gt; &lt;/li&gt;
        &lt;li&gt;&lt;a data-toggle="tab" href="#profile1"&gt;Profile&lt;/a&gt; &lt;/li&gt;
        &lt;li&gt;&lt;a data-toggle="tab" href="#messages1"&gt;Messages&lt;/a&gt; &lt;/li&gt;
        &lt;li&gt;&lt;a data-toggle="tab" href="#settings1"&gt;Settings&lt;/a&gt; &lt;/li&gt;
    &lt;/ul&gt;
    &lt;!-- Tab panes --&gt;
    &lt;div class="tab-content"&gt;
        &lt;div id="home1" class="tab-pane fade in active"&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre></div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Pill Tabs</h3>@Html.Partial("_PanelCloseTools")
            </div>
            <div class="panel-body">
                <p>
                    Pill Tabs are based on <a href="http://getbootstrap.com/components/#nav-pills" target="_blank">bootstrap nav pills</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-dark-blue">
			<div class="panel-heading">
				<h3 class="panel-title">Navbar</h3>@Html.Partial("_PanelCloseTools")
			</div>
			<div class="panel-body">
                <p>
                    Navbar are based on <a href="http://getbootstrap.com/components/#navbar" target="_blank">bootstrap nav bar</a>
                </p>
			</div>
		</div>
	</div>
</div>
