@{
    var _PageHeaderModel = new dotnetsource.Models.PageHeaderModel { Title = "Profile" };
    var _BreadCrumbModel = new dotnetsource.Models.BreadCrumbModel
    {
        FirstUrl = "/Home/Index",
        FirstUrlName = "Home",
        SecondUrl = "/Home/SignIn",
        SecondUrlName = "Pages",
        ThirdUrl = "/Home/Profile",
        ThirdUrlName = "Profile"
    };
    ViewBag.Title = _PageHeaderModel.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    <link href="/css/pages/profile.css" rel="stylesheet" type="text/css" />
}
@section scripts {
    <script src="/js/pages/holder.js" type="text/javascript"></script>
    <!-- Bootstrap FileUpload -->
    <script src="/js/plugins/fileinput/fileinput.js" type="text/javascript"></script>
}
@Html.Partial("_PageHeader", _PageHeaderModel)
@Html.Partial("_BreadCrumb", _BreadCrumbModel)
<div class="row">
    <div class="col-md-12">
        <div class="profile-container">
            <div class="profile-photo">
                <form action="#" method="POST">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 192px; height: 240px;">
                            <img src="/img/avatars/240/1.jpg" alt="Photo" />
                        </div>
                        <div>
                            <span class="btn btn-success btn-file"><span class="fileinput-new">Change Photo</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span> <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="profile-info">
                <h2 class="profile-name">
                    Angelina Glory
                </h2>
                <div class="profile-location">
                    <i class="fa fa-map-marker"></i>&nbsp;&nbsp;New York, USA
                </div>
                <div class="profile-position">
                    <i class="fa fa-briefcase"></i>&nbsp;&nbsp;Software Engineer at <a href="#">SomeCompany, Inc.</a>
                </div>
                <div class="profile-share">
                    <a class="btn btn-social-icon btn-facebook margin-right-10"><i class="fa fa-facebook"></i></a><a class="btn btn-social-icon btn-google-plus margin-right-10"><i class="fa fa-google-plus"></i></a><a class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="tab-fancy margin-top-10">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#feeds">Feeds</a></li>
                    <li><a data-toggle="tab" href="#account">Account</a></li>
                    <li><a data-toggle="tab" href="#favorites">Favorites</a></li>
                    <li><a data-toggle="tab" href="#commenters">Commenters</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="feeds">
                        @Html.Partial("_Feed")
                    </div>
                    <div class="tab-pane" id="account">
                        <form action="#" method="POST" class="form-horizontal form-validate">
                            <div class="form-group">
                                <label for="textfield" class="col-md-2 control-label">
                                    Email
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="email" id="email" value="angelinaglory@email.com" data-rule-required="true" data-rule-email="true" data-msg-required="Required" data-placement="bottom" data-msg-email="Invalid Email" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield" class="col-md-2 control-label">
                                    First Name
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="first_name" id="first_name" value="Angelina" data-rule-required="true" data-msg-required="Required" data-placement="bottom" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield" class="col-md-2 control-label">
                                    Last Name
                                </label>
                                <div class="col-md-4">
                                    <input type="text" name="last_name" id="last_name" value="Glory" data-rule-required="true" data-msg-required="Required" data-placement="bottom" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield" class="col-md-2 control-label">
                                    Gender
                                </label>
                                <div class="col-md-4">
                                    <select name="sex" id="sex" class="form-control input-medium">
                                        <option value="Male">Male</option>
                                        <option value="Female" selected>Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield" class="col-md-2 control-label">
                                    Birthday
                                </label>
                                <div class="col-md-10">
                                    <div class="pull-left margin-right-10">
                                        <select name="Month" id="Month" class="form-control input-medium" data-rule-required="true" data-msg-required="Required" data-placement="bottom">
                                            <option value="">Month</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5" selected>May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="pull-left margin-right-10">
                                        <input type="text" name="day" id="day" value="01" class="form-control" style="width: 100px" placeholder="Day" data-rule-required="true" data-msg-required="Required" data-placement="bottom" />
                                    </div>
                                    <div class="pull-left">
                                        <input type="text" name="year" id="year" value="1983" class="form-control" style="width: 100px" placeholder="Year" data-rule-required="true" data-msg-required="Required" data-placement="bottom" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="submit" class="btn btn-primary margin-right-10">
                                        Save
                                    </button>
                                    <button type="button" class="btn btn-danger">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="favorites" class="tab-pane fade">
                        @Html.Partial("_Favorites")
                    </div>
                    <div id="commenters" class="tab-pane fade">
                        @Html.Partial("_Commenters")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
